<div class="bg-neutral-white">
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between pt-24 pb-6">
      <h1 class="text-4xl font-bold tracking-tight text-primary-dark">
        Shopping Cart
      </h1>
    </div>

    <div class="flex flex-col gap-12 md:flex-row">
      <div class="flex-auto">
        <div class="flow-root">
          <ul
            role="list"
            class="divide-neutral-light border-b border-neutral-light"
          >
            <li
              class="flex border-t border-neutral-light py-6"
              *ngFor="let cartItem of cart"
            >
              <div class="h-24 w-24 flex-shrink-0 overflow-hidden">
                <img
                  [src]="cartItem.image"
                  alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                  class="h-full w-full object-cover object-center"
                />
              </div>

              <div class="ml-4 flex flex-1 flex-col">
                <div>
                  <div
                    class="flex justify-between text-base font-medium text-primary-dark"
                  >
                    <h3>
                      <a href="#">{{ cartItem.title }}</a>
                    </h3>
                    <p class="ml-4">{{ cartItem.total }}</p>
                  </div>
                </div>
                <div class="flex flex-1 items-end justify-between text-sm">
                  <p class="text-neutral-darkest">
                    Qty {{ cartItem.quantity }}
                  </p>

                  <div class="flex">
                    <button
                      (click)="removeFromCart(cartItem)"
                      type="button"
                      class="hover:text-indigo-500 font-medium text-neutral-darkest"
                    >
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- form -->
      <div class="max-w-md flex-auto">
        <div class="overflow-hidden bg-neutral-lightest">
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg font-medium leading-6 text-primary-dark">
              Order Summary
            </h3>
          </div>
          <div class="">
            <dl>
              <div
                class="border-b border-neutral-light px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm font-medium text-neutral-darkest">
                  Subtotal
                </dt>
                <dd
                  class="mt-1 ml-auto text-sm font-medium text-primary-dark sm:col-span-2 sm:mt-0"
                >
                  {{ getCartTotal() | currency : "KES " }}
                </dd>
              </div>
              <div
                class="border-b border-neutral-light px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm font-medium text-neutral-darkest">
                  Shipping Estimate
                </dt>
                <dd
                  class="mt-1 ml-auto text-sm font-medium text-primary-dark sm:col-span-2 sm:mt-0"
                >
                  {{ 200.0 | currency : "KES " }}
                </dd>
              </div>
              <div
                class="border-b border-neutral-light px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm font-medium text-neutral-darkest">
                  Tax Estimate
                </dt>
                <dd
                  class="mt-1 ml-auto text-sm font-medium text-primary-dark sm:col-span-2 sm:mt-0"
                >
                  {{ 80.32 | currency : "KES " }}
                </dd>
              </div>
              <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="font-medium leading-6 text-primary-dark">
                  Order Total
                </dt>
                <dd
                  class="mt-1 ml-auto font-medium leading-6 text-primary-dark sm:col-span-2 sm:mt-0"
                >
                  <h4>
                    {{
                      shippingEstimate + taxEstimate + getCartTotal()
                        | currency : "KES "
                    }}
                  </h4>
                </dd>
              </div>
            </dl>
            <div class="px-4 pb-5">
              <button
                type="submit"
                class="flex w-full items-center justify-center rounded-sm border border-transparent bg-primary-dark py-3 px-8 text-base font-medium text-neutral-white hover:bg-neutral-darkest focus:outline-none focus:ring-2 focus:ring-outline focus:ring-offset-2"
              >
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
