<div class="bg-white relative overflow-hidden">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1
          class="font text-4xl font-bold tracking-tight text-primary-dark sm:text-6xl"
        >
          We love fashion, but we love the planet more
        </h1>
        <p class="mt-4 text-xl text-neutral-darkest">
          Shop our collection of upcycled fashion today made from used textiles.
          Second hand clothes have never looked so good.
        </p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div
            aria-hidden="true"
            class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
          >
            <div
              class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
            >
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div
                    class="h-64 w-44 overflow-hidden sm:opacity-0 lg:opacity-100"
                  >
                    <img
                      src="../../../assets/rest-data/images/mens-jeans-athletics.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/womens-jeans-curvy.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/womens-jeans-skinny.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/mens-jeans-skinny.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/womens-jeans-wide.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/mens-jeans-straight.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                  <div class="h-64 w-44 overflow-hidden">
                    <img
                      src="../../../assets/rest-data/images/womens-jeans-relaxed.avif"
                      alt=""
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a
            routerLink="/products"
            class="inline-block border border-transparent bg-neutral-black py-3 px-8 text-center font-medium text-neutral-white hover:bg-neutral-darkest"
            >Shop Collection</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
